# Django Settings
DJANGO_DEBUG=False
SECRET_KEY=your-secret-key-here-change-this-in-production

# PostgreSQL Database (VM externa en 172.31.90.191)
POSTGRES_DB=cpoints
POSTGRES_USER=cpoints_user
POSTGRES_PASSWORD=mY48%#CxzE912
POSTGRES_HOST=172.31.90.191
POSTGRES_PORT=5432
